<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
     <link href="https://cdn.jsdelivr.net/npm/daisyui@2.6.3/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
    <title>Book</title>
</head>
<body>
    <div class="navbar  dark:bg-slate-900  dark:text-white">
        <div class="flex-1">
          <a href="{% url 'index'%}" class="btn btn-ghost normal-case text-xl">BookMore</a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal p-0 dark:text-white">
            <li><a href="{% url 'book'%}">Book a table </a></li>
            <li><a href="{% url 'Menu'%}">Menu</a></li>
            <li><a href="{% url 'Gallery' %}">Gallery</a></li>
            <li><a>Special Event</a></li>
          </ul>
        </div>
      </div>
    <section class="text-gray-600 body-font">
      {{n}}
        <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
          <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
            <h1 class="title-font font-medium text-3xl text-gray-900">Slow-carb next level shoindcgoitch ethical authentic, poko scenester</h1>
            <p class="leading-relaxed mt-4">Poke slow-carb mixtape knausgaard, typewriter street art gentrify hammock starladder roathse. Craies vegan tousled etsy austin.</p>
          </div>
          <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
            <form method="POST"  action="{% url 'book'%}" >
              {% csrf_token %}
             </h2 class="text-gray-900 text-lg font-medium title-font mb-5">Book a Table</h2>
            <div class="relative mb-4">
              
              <label for="full-name" class="leading-7 text-sm text-gray-600">Full Name</label>
              <input type="text" id="name" name="name" placeholder= "Fullname"class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            
            <div class="relative mb-4">
              <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
              <input type="email" id="email" name="email"placeholder= "Email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <div class="relative mb-4">
                <label for="address" class="leading-7 text-sm text-gray-600">Address</label>
                <input type="text" id="address" name="address"placeholder= "Full Address" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
              </div>
              <div class="relative mb-4">
                <label for="sug" class="leading-7 text-sm text-gray-600">Any suggestions</label>
                <input type="text" id="suggestions" name="suggestions"placeholder= "suggestion" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
               
            </div>
            {% for message in messages %}
              <p style="color: red;">{{message}} </p>

            {% endfor %}
            <button class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button>
            <p class="text-xs text-gray-500 mt-3">Literally you probably haven't heard of them jean shorts.</p>
          </form>
          </div>
        </div>
        {% for message in messages %}
              <p style="color:green;">{{message}} </p>

            {% endfor %}
       
  </section>
</body>
</html>