<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ipsum non velit atque aspernatur, laboriosam natus illo commodi tenetur accusamus saepe architecto magni laudantium unde dolorum repellendus aliquid quisquam ducimus numquam dolorem 
       rerum sint! Voluptatibus molestias cumque quae porro, dicta qui veritatis cupiditate ipsam animi quo!</p> 
</body>
</html>